@model IEnumerable<TailspinToysWeb.Models.LeaderboardViewModel>

@{
    ViewData["Title"] = "Tailspin Toys Leaderboard";
}

<div class="row">
    <div class="col-md-12">
        <h2>Tailspin Toys Gaming Leaderboard</h2>
        <hr />
        <h4>@ViewData["Message"]</h4>
        <hr />
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Position)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.GamerTag)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.GamerScore)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Diff)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.GamesPlayed)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IsOnline)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Position)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.GamerTag)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.GamerScore)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Diff)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.GamesPlayed)
                        </td>
                        <td>
                            @if(item.IsOnline)
                            {
                                <img src="~/images/check-green.svg" alt="Player online" height="12" />
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>